In [1]:
print(55/0)#zero division error, a number cannot be divided by zero.

<class 'ZeroDivisionError'>: division by zero

In [2]:
a=[]#indexerror:list index out of range.
print(a[5])

<class 'IndexError'>: list index out of range

In [3]:
tup=(2,3,4,5,6)
tup[2]=0#type error as tup doesnot support item assignment

<class 'TypeError'>: 'tuple' object does not support item assignment

In [5]:
try:
    ticket=int(input("Enter the number of tickets you want"))
    print("Total cost",ticket*150)
except ValueError:
    print("please enter valid number of tickets")

Enter the number of tickets you want 12

Total cost 1800

filename=input("enter a filename")
try:
    f=open(filename,"r")
except FileNotFoundError:
    print("the above mentioned file doesnot exist.")

In [1]:
user_input=input("enter a number")
try:
    num=float(user_input)
except ValueError:
    print("You have not entered a number")
else:
    print("Square",num**2)
finally:
    print("Thankyou")

enter a number w

You have not entered a number
Thankyou

In [2]:
filename=input("enter filename")
try:
    with open(filename,"r") as infile:
        content=infile.read()
except FileNotFoundError:
    print("the file you have entered doesn't exist.")
except PermissionError:
    print("You don't have the permission to read this file")

enter filename ayush..txt

the file you have entered doesn't exist.

In [3]:
def get_age():
    age=int(input("Enter your age"))
    if age < 0:
        raise ValueError(f"{age} is not a valud age")
    return age

In [4]:
def get_age():
    age=int(input("Enter your age"))
    if age < 0 or age >100:
        raise ValueError(f"{age} is not a valid age")
    return age
user_age=get_age()
print("The age is",user_age)

Enter your age 230

<class 'ValueError'>: 230 is not a valid age